<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mac.demo.mapper.PaperMapper" >
  <resultMap id="BaseResultMap" type="com.mac.demo.model.Paper" >
    <id column="paper_id" property="paperId" jdbcType="INTEGER" />
    <result column="test_id" property="testId" jdbcType="INTEGER" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="select_list" property="selectList" jdbcType="VARCHAR" />
    <result column="completion_list" property="completionList" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="paper_name" property="paperName" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    paper_id, test_id, admin_id, select_list, completion_list, create_time, paper_name,state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from paper
    where paper_id = #{paperId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from paper
    where paper_id = #{paperId,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.mac.demo.model.Paper" >
    insert into paper
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="testId != null" >
        test_id,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="selectList != null" >
        select_list,
      </if>
      <if test="completionList != null" >
        completion_list,
      </if>
      <if test="paperName != null" >
        paper_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >

      <if test="testId != null" >
        #{testId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="selectList != null" >
        #{selectList,jdbcType=VARCHAR},
      </if>
      <if test="completionList != null" >
        #{completionList,jdbcType=VARCHAR},
      </if>
      <if test="paperName != null" >
        #{paperName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mac.demo.model.Paper" >
    update paper
    <set >
      <if test="testId != null" >
        test_id = #{testId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="selectList != null" >
        select_list = #{selectList,jdbcType=VARCHAR},
      </if>
      <if test="completionList != null" >
        completion_list = #{completionList,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paperName != null" >
        paper_name = #{paperName,jdbcType=VARCHAR},
      </if>
    </set>
    where paper_id = #{paperId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mac.demo.model.Paper" >
    update paper
    set test_id = #{testId,jdbcType=INTEGER},
      admin_id = #{adminId,jdbcType=INTEGER},
      select_list = #{selectList,jdbcType=VARCHAR},
      completion_list = #{completionList,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      paper_name = #{paperName,jdbcType=VARCHAR}
    where paper_id = #{paperId,jdbcType=INTEGER}
  </update>

  <select id="getPaper" parameterType="com.mac.demo.vo.PaperTestAdminVo"
          resultType="com.mac.demo.vo.PaperTestAdminVo">

    select p.state as state
    ,p.paper_name as paperName
    , p.create_time as createTime
    , p.paper_id as paperId
    ,a.admin_name as adminName
    ,t.test_name as testName
    ,t.time as time
    from paper p , admin a , test t
    where p.admin_id = a.admin_id and t.test_id = p.test_id
    <if test="paperName != null and paperName != ''">
      and p.paper_name like concat('%',#{paperName}, '%')
    </if>
    LIMIT #{page},#{limit}
  </select>

  <select id="getPaperCount" resultType="java.lang.Integer">
    select
    count(1)
    from paper p , admin a , test t
    where p.admin_id = a.admin_id and t.test_id = p.test_id
    <if test="paperName != null and paperName != ''">
      and p.paper_name like concat('%',#{paperName}, '%')
    </if>

  </select>


</mapper>