<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mac.demo.mapper.ReportMapper" >
  <resultMap id="BaseResultMap" type="com.mac.demo.model.Report" >
    <id column="report_id" property="reportId" jdbcType="INTEGER" />
    <result column="report_name" property="reportName" jdbcType="VARCHAR" />
    <result column="student_id" property="studentId" jdbcType="INTEGER" />
    <result column="paper_id" property="paperId" jdbcType="INTEGER" />
    <result column="answer_select" property="answerSelect" jdbcType="VARCHAR" />
    <result column="answer_completion" property="answerCompletion" jdbcType="VARCHAR" />
    <result column="correct_select" property="correctSelect" jdbcType="VARCHAR" />
    <result column="correct_completion" property="correctCompletion" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="score" property="score" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    report_id, report_name, student_id, paper_id, answer_select, answer_completion, correct_select, 
    correct_completion, create_time, score
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from report
    where report_id = #{reportId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from report
    where report_id = #{reportId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mac.demo.model.Report" >
    insert into report (report_id, report_name, student_id, 
      paper_id, answer_select, answer_completion, 
      correct_select, correct_completion, create_time, 
      score)
    values (#{reportId,jdbcType=INTEGER}, #{reportName,jdbcType=VARCHAR}, #{studentId,jdbcType=INTEGER}, 
      #{paperId,jdbcType=INTEGER}, #{answerSelect,jdbcType=VARCHAR}, #{answerCompletion,jdbcType=VARCHAR}, 
      #{correctSelect,jdbcType=VARCHAR}, #{correctCompletion,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{score,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mac.demo.model.Report" >
    insert into report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="reportId != null" >
        report_id,
      </if>
      <if test="reportName != null" >
        report_name,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="paperId != null" >
        paper_id,
      </if>
      <if test="answerSelect != null" >
        answer_select,
      </if>
      <if test="answerCompletion != null" >
        answer_completion,
      </if>
      <if test="correctSelect != null" >
        correct_select,
      </if>
      <if test="correctCompletion != null" >
        correct_completion,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="score != null" >
        score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="reportId != null" >
        #{reportId,jdbcType=INTEGER},
      </if>
      <if test="reportName != null" >
        #{reportName,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="paperId != null" >
        #{paperId,jdbcType=INTEGER},
      </if>
      <if test="answerSelect != null" >
        #{answerSelect,jdbcType=VARCHAR},
      </if>
      <if test="answerCompletion != null" >
        #{answerCompletion,jdbcType=VARCHAR},
      </if>
      <if test="correctSelect != null" >
        #{correctSelect,jdbcType=VARCHAR},
      </if>
      <if test="correctCompletion != null" >
        #{correctCompletion,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mac.demo.model.Report" >
    update report
    <set >
      <if test="reportName != null" >
        report_name = #{reportName,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="paperId != null" >
        paper_id = #{paperId,jdbcType=INTEGER},
      </if>
      <if test="answerSelect != null" >
        answer_select = #{answerSelect,jdbcType=VARCHAR},
      </if>
      <if test="answerCompletion != null" >
        answer_completion = #{answerCompletion,jdbcType=VARCHAR},
      </if>
      <if test="correctSelect != null" >
        correct_select = #{correctSelect,jdbcType=VARCHAR},
      </if>
      <if test="correctCompletion != null" >
        correct_completion = #{correctCompletion,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
    </set>
    where report_id = #{reportId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mac.demo.model.Report" >
    update report
    set report_name = #{reportName,jdbcType=VARCHAR},
      student_id = #{studentId,jdbcType=INTEGER},
      paper_id = #{paperId,jdbcType=INTEGER},
      answer_select = #{answerSelect,jdbcType=VARCHAR},
      answer_completion = #{answerCompletion,jdbcType=VARCHAR},
      correct_select = #{correctSelect,jdbcType=VARCHAR},
      correct_completion = #{correctCompletion,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      score = #{score,jdbcType=INTEGER}
    where report_id = #{reportId,jdbcType=INTEGER}
  </update>
</mapper>