<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mac.demo.mapper.ReportMapper" >
  <resultMap id="BaseResultMap" type="com.mac.demo.model.Report" >
    <id column="report_id" property="reportId" jdbcType="INTEGER" />
    <result column="report_name" property="reportName" jdbcType="VARCHAR" />
    <result column="student_id" property="studentId" jdbcType="INTEGER" />
    <result column="paper_id" property="paperId" jdbcType="INTEGER" />
    <result column="answer_select" property="answerSelect" jdbcType="VARCHAR" />
    <result column="answer_completion" property="answerCompletion" jdbcType="VARCHAR" />
    <result column="correct_select" property="correctSelect" jdbcType="VARCHAR" />
    <result column="correct_completion" property="correctCompletion" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="class_name" property="className" jdbcType="VARCHAR" />
    <result column="knowledge" property="knowledge" jdbcType="VARCHAR" />
    <result column="ability" property="ability" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    report_id, report_name, student_id, paper_id, answer_select, answer_completion, correct_select, 
    correct_completion, create_time, score,class_name,knowledge,ability
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from report
    where report_id = #{reportId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from report
    where report_id = #{reportId,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.mac.demo.model.Report" >
    insert into report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="reportId != null" >
        report_id,
      </if>
      <if test="reportName != null" >
        report_name,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="paperId != null" >
        paper_id,
      </if>
      <if test="answerSelect != null" >
        answer_select,
      </if>
      <if test="answerCompletion != null" >
        answer_completion,
      </if>
      <if test="correctSelect != null" >
        correct_select,
      </if>
      <if test="correctCompletion != null" >
        correct_completion,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="className != null" >
        class_name,
      </if>
      <if test="knowledge != null" >
        knowledge,
      </if>
      <if test="ability != null" >
        ability,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="reportId != null" >
        #{reportId,jdbcType=INTEGER},
      </if>
      <if test="reportName != null" >
        #{reportName,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="paperId != null" >
        #{paperId,jdbcType=INTEGER},
      </if>
      <if test="answerSelect != null" >
        #{answerSelect,jdbcType=VARCHAR},
      </if>
      <if test="answerCompletion != null" >
        #{answerCompletion,jdbcType=VARCHAR},
      </if>
      <if test="correctSelect != null" >
        #{correctSelect,jdbcType=VARCHAR},
      </if>
      <if test="correctCompletion != null" >
        #{correctCompletion,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="className != null" >
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="ability != null" >
        #{ability,jdbcType=VARCHAR},
      </if>
      <if test="knowledge != null" >
        #{knowledge,jdbcType=VARCHAR},
      </if>

    </trim>
  </insert>

  <select id="getReport" parameterType="com.mac.demo.vo.ReportVo"
          resultType="com.mac.demo.vo.ReportVo">

      SELECT r.report_name as reportName
      ,s.student_name as studentName
      ,p.paper_name as paperName
      ,r.score as score
      ,r.create_time as createTime
      ,r.class_name as className
      from report r,student s, paper p
      where r.student_id=s.student_id and r.paper_id=p.paper_id
      <if test="reportName != null and reportName != ''">
      and r.report_name like concat('%',#{reportName}, '%')
    </if>
    <if test="paperName != null and paperName != ''">
      and p.paper_name like concat('%',#{paperName}, '%')
    </if>
      <if test="studentName != null and studentName != ''">
          and s.student_name like concat('%',#{studentName}, '%')
      </if>
      <if test="className != null and className != ''">
          and r.class_name like concat('%',#{className}, '%')
      </if>
    LIMIT #{page},#{limit}
  </select>

  <select id="getReportCount" resultType="java.lang.Integer">
    select
    count(1)
      from report r,student s, paper p
      where r.student_id=s.student_id and r.paper_id=p.paper_id
      <if test="reportName != null and reportName != ''">
          and r.report_name like concat('%',#{reportName}, '%')
      </if>
      <if test="paperName != null and paperName != ''">
          and p.paper_name like concat('%',#{paperName}, '%')
      </if>
      <if test="studentName != null and studentName != ''">
          and s.student_name like concat('%',#{studentName}, '%')
      </if>
      <if test="className != null and className != ''">
          and r.class_name like concat('%',#{className}, '%')
      </if>

  </select>

  <!--<select id="getReportIndex"-->
          <!--resultType="com.mac.demo.vo.ReportVo">-->

    <!--SELECT *-->
    <!--from report r,student s, paper p-->
    <!--where r.student_id=s.student_id and r.paper_id=p.paper_id-->
      <!--and r.student_id=#{studentId} and r.paper_id=#{paperId}-->

  <!--</select>-->
</mapper>