<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mac.demo.mapper.SelectQuestionMapper" >
  <resultMap id="BaseResultMap" type="com.mac.demo.model.SelectQuestion" >
    <id column="select_id" property="selectId" jdbcType="INTEGER" />
    <result column="text" property="text" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="course_id" property="courseId" jdbcType="INTEGER" />
    <result column="option_a" property="optionA" jdbcType="VARCHAR" />
    <result column="option_b" property="optionB" jdbcType="VARCHAR" />
    <result column="option_c" property="optionC" jdbcType="VARCHAR" />
    <result column="option_d" property="optionD" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="knowledge" property="knowledge" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    select_id, text, type_id, course_id, option_a, option_b, option_c, option_d, answer, 
    create_time, knowledge, level
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from selectquestion
    where select_id = #{selectId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from selectquestion
    where select_id = #{selectId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mac.demo.model.SelectQuestion" >
    insert into selectquestion (select_id, text, type_id, 
      course_id, option_a, option_b, 
      option_c, option_d, answer, 
      create_time, knowledge, level
      )
    values (#{selectId,jdbcType=INTEGER}, #{text,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER}, 
      #{courseId,jdbcType=INTEGER}, #{optionA,jdbcType=VARCHAR}, #{optionB,jdbcType=VARCHAR}, 
      #{optionC,jdbcType=VARCHAR}, #{optionD,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{knowledge,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mac.demo.model.SelectQuestion" >
    insert into selectquestion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="selectId != null" >
        select_id,
      </if>
      <if test="text != null" >
        text,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="optionA != null" >
        option_a,
      </if>
      <if test="optionB != null" >
        option_b,
      </if>
      <if test="optionC != null" >
        option_c,
      </if>
      <if test="optionD != null" >
        option_d,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="knowledge != null" >
        knowledge,
      </if>
      <if test="level != null" >
        level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="selectId != null" >
        #{selectId,jdbcType=INTEGER},
      </if>
      <if test="text != null" >
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="optionA != null" >
        #{optionA,jdbcType=VARCHAR},
      </if>
      <if test="optionB != null" >
        #{optionB,jdbcType=VARCHAR},
      </if>
      <if test="optionC != null" >
        #{optionC,jdbcType=VARCHAR},
      </if>
      <if test="optionD != null" >
        #{optionD,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="knowledge != null" >
        #{knowledge,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mac.demo.model.SelectQuestion" >
    update selectquestion
    <set >
      <if test="text != null" >
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null" >
        course_id = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="optionA != null" >
        option_a = #{optionA,jdbcType=VARCHAR},
      </if>
      <if test="optionB != null" >
        option_b = #{optionB,jdbcType=VARCHAR},
      </if>
      <if test="optionC != null" >
        option_c = #{optionC,jdbcType=VARCHAR},
      </if>
      <if test="optionD != null" >
        option_d = #{optionD,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="knowledge != null" >
        knowledge = #{knowledge,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
    </set>
    where select_id = #{selectId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mac.demo.model.SelectQuestion" >
    update selectquestion
    set text = #{text,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      course_id = #{courseId,jdbcType=INTEGER},
      option_a = #{optionA,jdbcType=VARCHAR},
      option_b = #{optionB,jdbcType=VARCHAR},
      option_c = #{optionC,jdbcType=VARCHAR},
      option_d = #{optionD,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      knowledge = #{knowledge,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER}
    where select_id = #{selectId,jdbcType=INTEGER}
  </update>

  <select id="getSelectQuestion" parameterType="com.mac.demo.vo.QuerySelectQuestionVo"
          resultType="com.mac.demo.vo.QuerySelectQuestionVo">

    select s.select_id as selectId
    ,s.text as text
    ,s.answer as answer
    ,s.option_a as optionA
    ,s.option_b as optionB
    ,s.option_c as optionC
    ,s.create_time as createTime
    , s.option_d as optionD
    ,s.knowledge as knowledge
    ,s.`level` as level
    ,t.type_name as typeName
    ,c.course_name as courseName
    from selectquestion s ,course c ,type t
    where s.course_id = c.course_id
    and s.type_id = t.type_id
    <if test="courseName != null and courseName != ''">
      and c.course_name like concat('%',#{courseName}, '%')
    </if>
    <if test="level != null and level != ''">
      and s.`level` like concat('%',#{level}, '%')
    </if>
    LIMIT #{page},#{limit}
  </select>

  <select id="getSelectQuestionCount" resultType="java.lang.Integer">
    select
    count(1)
    FROM selectquestion s ,course c ,type t
    where s.course_id = c.course_id
    and s.type_id = t.type_id
    <if test="courseName != null and courseName != ''">
      and c.course_name like concat('%',#{courseName}, '%')
    </if>
    <if test="level != null and level != ''">
      and s.`level` like concat('%',#{level}, '%')
    </if>

  </select>
</mapper>